.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  margin-top: 56px;

  & .content-filter-input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    margin-inline: 8%;
    padding-top: 20px;

    input {
      height: 30px;
      font-size: 14px;
      font-weight: 500;
      width: 250px;
    }
  }
}

.products-grouping {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 8%;
}

.group-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .group-title-name {
    text-wrap: nowrap;
  }
}
.dividing-border {
  width: 100%;
  background-color: #282c34;
  height: 0.5px;
}

.grouping-cards {
  display: flex;
  gap: 16px;
}
